*{
    margin: 0;
    padding: 0;
    
  font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Miama';
    src: url('../font/Miama.woff') 
    
    format('woff2'),
         url('fonts/miama.woff') format('woff');

}


  #body-sec{
    background: rgb(0, 0, 0);

    color: aliceblue;
 
  }


.containers{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px ;
    box-sizing: border-box;
    width: 100%;
}

#nav-bar{
    margin: 60px 0 32px;

}

#nav-bar .nav-bar-p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


#nav-bar h3{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
    
}

#nav-bar .icone{
    display: none;

}

/* #nav-bar .icone i{
    
color: aliceblue;
} */

#nav-bar .click-bar {
    border: 1px solid;
    border-radius: 39px;
    text-align: center;
    padding: 8px;
    border-color: rgb(67, 67, 67);
}

#nav-bar ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

#nav-bar li{
    list-style: none;
   
}



#nav-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
text-align: left;
padding: 8px 20px ;
border-radius: 46px;
 margin: 0 47px;

}

#nav-bar a:hover{
    background: rgb(230, 83, 60);
}


/* end bav bar  */



#banner-section 
{
margin: 50px 0;
/* position: relative; */
}


#banner-section .banner-p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 30px;
}

#banner-section .paragraph

{
    margin: 0 40px 0 0;
}

#banner-section h1
{
    /* color: rgb(255, 255, 255); */
/* font-family: Inter; */
font-size: 78px;
font-weight: 900;
text-align: left;
    
}






#banner-section span {
    font-family: 'Miama', sans-serif;
    Font-weight: 400;
    font-size: 140px;
    line-height: 0px;
}

#banner-section .paragraph p{ 

  

margin:20px 0;
color: rgba(255, 255, 255, 0.5);


}

#banner-section .btn{
    display: flex;
    

}

#banner-section button,
 #run .btn button {

    margin-right: 16px;
    padding:16px 40px;
    border-radius: 42px;
    border: 1px solid;

 color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
background-color: black;


}

#banner-section button:hover{
     background: rgb(230, 83, 60);
}

#banner-section .imgg{
    position: relative;

}

#banner-section .imgg img{
 width: 100%;

}

#banner-section .video-w {
    position: absolute;
    top: 177px;
    right: -100px;
    border-radius: 12px;
}

#banner-section .video-w h2{
    

font-size: 40px;
font-weight: 900;
background: rgb(172 172 172 / 23%);
padding:10px 30px 0 30px;
border-radius: 12px 12px 0 0;

}

#banner-section .video-w p{

    background: rgb(172 172 172 / 23%);
padding:0 30px 10px 30px;
border-radius: 0 0 12px 12px;
 
}

#banner-section .video-t {
    position: absolute;
    bottom: 51px;
    right: 180px;
}
/* #banner-section .video-t .circle{
    background: rgb(230, 83, 60);
    border-radius: 50%;
} */

#banner-section .video-t h3{


font-size: 24px;
font-weight: 900;

background: rgba(48, 48, 48, 0.54);

padding:10px 30px 0 30px;
border-radius: 12px 12px 0 0;

}
#banner-section .video-t p{

    background: rgba(48, 48, 48, 0.54);

    padding:0 30px 10px 30px;
    border-radius: 0 0 12px 12px;
    
}



/* start main css  */


#change-habits {
    margin: 30px 0;

}


#change-habits .change-name{
    text-align: center;
    margin: 10px 0 50px 0;

}

#change-habits h3, #run h3, #bmi-calculator h3{

    font-size: 48px;
    font-weight: 900;


}

#change-habits p, #run p, #bmi-calculator p, #bmi-calculator p{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin: 10px 0;


}

#change-habits .habits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    text-align: center;
}

#change-habits img{
    margin: 0 30px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;

}

#change-habits  h5{
    margin: 30px 0 10px 0;
    font-size: 18px;
    font-weight: 600;

}


#run{
    margin: 50px 0;

}


#run .run-p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    border-radius: 18px;
    /* margin: 60px; */
    padding: 50px;
    background-color: rgb(34, 34, 34);
}



#run .btn button{
    padding: 11px 75px;
    margin-top: 20px;
    background-color: rgb(34, 34, 34);
}
#run .btn button:hover{
    background: rgb(230, 83, 60);
}

#run .immg img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 18px;
    height: 312px;
    object-fit: none;
    object-position: 66% 33%;
}

#run .part-1{

    margin-right: 160px;
}



/*-------------- bmi -------- */



#bmi-calculator{

}

#bmi-calculator .bmi-header {
  
    margin: 88px 30%;
}


#bmi-calculator .bmi-table {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    background: rgb(34, 34, 34);
    padding: 88px 0;
    justify-items: center;
}

#bmi-calculator .bmi-chart h4{
   
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 40px;
  
  
}

#bmi-calculator table, th, td{
    border: 1px solid rgb(142, 139, 139);
    border-collapse: collapse;
   
}

#bmi-calculator th, td{
    text-align: start;
    padding: 18px 25px 18px 20px;
}

#bmi-calculator td {
   
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
}

#bmi-calculator h4{

    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;

}


#bmi-calculator .bmi-calculate {
    width: 600px;
}


#bmi-calculator input, #sex, #factor{
    width: 230px;
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
padding: 12px 40px 12px 15px;
border: 1px solid black;
margin: 0px 5px 10px 0;
color: rgb(123 123 123)



}

#bmi-calculator #sex {
    width: 289px;
}

#bmi-calculator #factor {
    width: 98%;
   
}





#bmi-calculator .btn{
    margin-right: 16px;
    padding:10px 57px;
    border-radius: 42px;
    border: 1px solid;

 color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
background: rgba(255, 255, 255, 0.1);

margin-top: 20px;
}

#bmi-calculator .btn:hover{
    background: rgb(230, 83, 60);}


    #our-members{
        margin: 50px;


    }

    
    #our-members .members{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 20px;
       
        
        
    }

    #our-members .member1,.member2, .member3, .member4, .member5, .member6{
         position: relative;
    }
 
    #our-members .name {
        background: rgb(60 60 60 / 70%);
        position: absolute;
        bottom: 0;
        padding: 6px;
        border-radius: 0 20px;
    }
    

    
    #our-members img{
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;

        
    }




    
    #our-members h4{
        font-size: 48px;
        font-weight: 900;
        margin-bottom:50px ;
        text-align: center;

        
    } 
    
    #our-members h5{
        font-size: 20px;

        
    }

    #our-members p {
        color: rgb(255 255 255 / 85%);
        font-size: 14px;
        font-weight: 400;
        margin: 5px 0;
    }


    #our-members .btn {
        
        text-align: end;
        font-size: 30;
        margin: 30px 0;
    }


    #our-members button {
        border: none;
        background: rgba(255, 255, 255, 0.3);
        color: aliceblue;
        font-size: 20px;
        border-radius: 16px;
        padding: 10px 20px;
        font-weight: 600;
    }
    #our-members button:hover{
        background-color: rgb(230, 83, 60);
    }
    





#our-team{
    margin: 50px 0;
}


#our-team h4{
color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
text-align: center;

}

#our-team p{
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 10px 0;
}

#our-team .team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    background-color:rgb(255 255 255 / 18%);
    padding: 20px;
    border-radius: 20px;

    gap: 20px;

}


#our-team .t-member{
    position: relative;
}



#our-team img {
    width: 100%;
    height: 320px;
    border-radius: 20px;
   
}

#our-team .t-name{

    position: absolute;
    bottom: 10px;
    left: 10px;

}

#our-team .t-name h5{
    font-size: 20px;
    font-weight: 900;
}

#our-team .t-name p{
    text-align: left;
    margin: 0;

}


/* main close  */

#fitness-footer{
    margin: 50px 0;

}

#fitness-footer .fitness-p{
    display: grid;
    grid-template-columns:2fr 1fr 1fr;

    margin-bottom: 40px;
}


#fitness-footer h1{

   
 color: rgb(230, 83, 60);
font-size: 70px;
font-weight: 800;
font-style: italic; margin-bottom:20px ;



}

#fitness-footer p, #fitness-footer li{
    
    color:rgba(255, 255, 255, 0.5);
    
}

#fitness-footer h5{
font-size: 32px;
font-weight: 700;
margin-bottom:40px ;
}

#fitness-footer li{
    list-style: none;

    margin-bottom: 15px;

    
}

#fitness-footer .footerr{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

/* #fitness-footer .footerr hr{

    color:rgba(255, 255, 255, 0.5)

} */

#fitness-footer .footerr p{

   
margin-top: 50px;
text-align: center;
}

































@media screen and (max-width: 576px){



    /* nav bar  */

    #nav-bar .icone{
        display: contents; 
         
    }

    #nav-bar .icone i{
        text-align: end;
         
    }


    #nav-bar .click-bar {
        display: none;
    }



/* banner  */


#banner-section .banner-p {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

#banner-section .paragraph

{
    margin: 0 ;
}

#banner-section h1
{
  
font-size: 38px;

}

#banner-section .paragraph p, #banner-section .video-w p, #banner-section .video-t p{
  
   
    Font-size: 14px;
    
    }


    #banner-section button{

      
        padding:10px 30px;
       
    font-size: 14px;
   
    
    
    }

    #banner-section .video-w {
      
        top: 322px;
       
    }

    #banner-section .video-w h2{
    

        font-size: 30px;
        font-weight: 600; 
        }

    #banner-section .video-t {
        right: 332px;
        }


        #banner-section .video-t h3{


            font-size: 18px;
            font-weight: 600;
            
        
            
            }









}